.todo_form {
  margin-bottom: 30px;
  text-align: center;
}

.todo_form_input {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 20px;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
}

.todo_form_input::placeholder {
  color: #f5f769ab;
}

.todo_form_input:focus {
  border: 1px solid rgb(255, 254, 255);
}

.todo_form_button {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background: #edf050;
  cursor: pointer;
}

.todo_form_button:hover {
  background-color: #f5f768ab;
}
