.wrapper {
  margin: 100px auto;
  max-width: 400px;
  padding: 10px;
}

.title {
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(117, 107, 107, 0.932);
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

.title span {
  color: #edf050;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.delete_all_todo {
  font-size: 20px;
  padding: 10px;
  background: #edf050;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete_all_todo:hover {
  background-color: #f5f768ab;
}

.delete_all_todo:focus {
  background-color: #f5f768ab;
}

.todo_counter {
  display: block;
  font-size: 20px;
  color: #ffffff;
}

.todo_counter span {
  color: #edf050;
}
